body {

  color: #414141; /* dark gret */
  background-color: #EEEEE; /* light grey */
  font-size: 18px;
  
}

/* the 2 em makes the font twice the sixe of the main font size set! */
h1 {
  font-size: 2 em:
}

h2 {
  font-size: 1.6 em;
}

/* to apply a rule to multiple different html elements */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial" sans-serif;
  font-weight: normal;
}

ul {

list-style-type: circle;

}

ol {

  list-style-type: lower-roman;
  
}

/* makes links not underlined */
a

{

text-decoration: none;

}

p {
  text-align: left:
  
}
